<!DOCTYPE html>
<html>
<head>
  <script src="bower_components/angular/angular.min.js"></script>
  <title></title>
</head>
<body ng-app ="marcoApp">
  <div class="question" ng-controller="QuestionCtrl">
    <p>{{question}}</p>
    <button ng-click="choose(option1)">{{option1}}</button>
    <button ng-click="choose(option2)">{{option2}}</button>
    <button ng-click="choose(option3)">{{option3}}</button>
    <button ng-click="choose(option4)">{{option4}}</button>
    <span>{{selection}}</span>
    <span>{{isCorrect}}</span>
  </div>
  


  <script src="app/app.js"></script>
</body>
</html>