<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="style/style.css">

  <script src="bower_components/underscore/underscore-min.js"></script>
  <script src="bower_components/angular/angular.min.js"></script>

 


<title>Marco... Who? - The Memory Game</title>
</head>
<body ng-app ="marcoApp">
  <div class="game-container container" ng-controller="GameCtrl">
    <h1>Marco... Who? - The Memory Game</h1>
    <div ng-hide="gameStarted" class="game-selection">
      <div class="games-list thumbnail">
        <h2 class="available-games text-center">Choose a game</h2>
        <img class="game1" ng-click="startGame()" src="{{'assets/img/StudentsGame.png'}}" alt="image">
        <img class="game2" src="{{'assets/img/OwnersGame.png'}}" alt="image">
      </div>
    </div>
    <div class="game" ng-show="gameStarted && !gameOver">
      <h2 class="dashboard">
        <span class="score text-left">Score: {{score}}</span>
        <span class="counter pull-right">Time left: {{counter}}</span>
      </h2>
      <div class="question-image thumbnail">
        <img class="profile-image" src="{{question.solution.image || 'assets/img/default2.png'}}" alt="image">
      </div>
      <div class="options btn-group btn-group-justified" role="group" aria-label="..." >
        <div class="btn-group" role="group" ng-repeat="opt in question.options" ng-click="choose(opt)">
            <button type="button" class="btn btn-lg btn-primary">{{opt}}</button>
        </div>
        <!-- <button type="button" class="btn btn-lg btn-primary .btn-block" ng-repeat="opt in question.options" ng-click="choose(opt)" ng-model="opt">{{opt}}</button> -->
      </div>
      
    </div>
    <div class="result" ng-show="gameOver && gameStarted">
      <h2 class="dashboard">
        <span class="score">Final Score: {{score}}</span>
        <div class="question-image thumbnail">
          <img class="trophy" src="{{'assets/img/trophy.png'}}" alt="image">
        </div>
        <!-- <span class="counter">Time left: {{counter}}</span> -->
      </h2>
    </div>
    <!-- <p>selection: {{selection}}</p>
    <p>answer: {{isCorrect}}</p>
    <p>gameover: {{gameOver}}</p>
    <p>gamestarted: {{gameStarted}}</p>
    <p>data: {{data}}</p>
    <p>data: {{timerData}}</p> -->
  </div>

  <script src="app/app.js"></script>

</body>
</html>